<%- include('./partials/adminBoilerplate') %>
<title><%=title%></title>
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://wallpaperaccess.com/full/1887947.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://wallpaperaccess.com/full/4952553.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.vecteezy.com/system/resources/previews/000/542/609/original/vector-illustration-in-concept-of-health-insurance-template-design-is-on-pastel-blue-background-for-cover-web-banner-poster-slide-presentation-art-craft-for-kid-in-3d-paper-cut-style.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>