<style>
 #navigation {
/* Navigation has moved down */
position: relative;
top: 639px;
}

.navbar-default {
    background: green !important;
}
</style>
  <nav id="navigation" class="navbar bg-body-tertiary bg-light navbar-default" data-bs-theme="dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Insurance Managment System</span>
    </div>
  </nav>